argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
braintree==4.28.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
Django==5.0.3
Django-Accounts==0.1
django-crispy-forms==2.1
httptools==0.6.1
idna==3.6
numpy==1.26.4
pycparser==2.21
pycryptodome==3.20.0
requests==2.31.0
scipy==1.12.0
sounddevice==0.4.6
sqlparse==0.4.4
stripe==8.9.0
typing_extensions==4.10.0
urllib3==2.2.1
